In [1]:
import pandas as pd
import ipyleaflet
import os
from ipyleaflet import *
import geopandas as gpd
import requests
import json
import geojson
import shape
import plotly
plotly.tools.set_credentials_file(username='jwageman', api_key='5PezVLXcM1KdQn4F3kWt')

ModuleNotFoundError: No module named 'ipyleaflet'

In [45]:
# allow Jupyter notebooks to access external connection withou HTTPS
import os, ssl
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
    getattr(ssl, '_create_unverified_context', None)): 
    ssl._create_default_https_context = ssl._create_unverified_context

In [46]:
os.getcwd()
os.chdir('/Users/julia_wagemann/Documents/Notebooks/phd/survey_analysis/')

In [49]:
survey = pd.read_csv('20190131_final_results.csv', encoding="ISO-8859-1")

In [50]:
survey

,1.1 What is your country of residence?,1.2 Your company / institution,1.3 Your current position,1.4 What is your age:,2.1 What sector do you work in?,Please specify:,What is your annual revenue in Euro or US Dollars?,Please specify:.1,2.2 Who do you most identify with?,Please specify:.2,...,6.7 Would you be able to estimate the technical requirements you would need for your data storage and/or processing tasks in the cloud?,"If yes, please specify: data volume to store in GB, Number of cloud instances / virtual servers to parallelise tasks, required memory per instance, required number of cores, any other requirements / specifications, e.g. need for a specialised network?","6.8 Would you be willing to pay for processing services in the cloud, if you get directly the output you are interested in?",What would you be willing to pay for?,Please specify:.19,How much would you be willing to pay?,7.1 Do you have any further comments?,7.2 Would you be available as an expert for a follow-up expert interview?,7.3 Would you like to be informed about the outcomes of this survey?,Please specify your email address:
0,United Kingdom,NaN,Developer,30 - 40 years,Non-profit,NaN,NaN,NaN,Data user,Software Developer,...,No,NaN,Depends on the cost,Data storage,NaN,"up to 1,000 Euros / 1,000 US Dollars",NaN,Yes,Yes,olcl@pml.ac.uk
1,United Kingdom,University of Bath,Research associate,20 - 30 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,No,NaN,NaN,NaN,No,No,No,NaN
2,Austria,University of Natural resources and life scien...,Postdoc,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,mathew.herrnegger@boku.ac.at
3,Italy,FAO of UN,Information Systems Officer,50 - 60 years,Non-profit,NaN,NaN,NaN,Data user,Project manager,...,No,NaN,Depends on the cost,Data download;Data storage;Service support,NaN,I prefer a costing model based on a monthly/an...,NaN,No,No,NaN
4,Italy,Food and Agriculture Organization of the UN,Consultant,20 - 30 years,Intergovernmental organisation,NaN,NaN,NaN,Data user,Data Analyst,...,No,NaN,No,NaN,NaN,NaN,NaN,No,No,NaN
5,Portugal,NaN,Earth Observation Data Planner,30 - 40 years,Intergovernmental organisation,NaN,NaN,NaN,Data provider,NaN,...,No,NaN,Yes,Data processing;Data storage,NaN,I prefer a costing model based on a monthly/an...,There is one more requirement we have not addr...,No,Yes,paula.marti@gmail.com
6,United States of America,Columbia University,Associate Professor,30 - 40 years,University,Private research institute,NaN,NaN,Data user,Researcher,...,No,NaN,Yes,Data processing,NaN,I prefer a costing model based on a monthly/an...,This survey was somewhat biased in it's charac...,Yes,Yes,rpa@ldeo.columbia.edu
7,Australia,Spatialised,owner/principal consultant,40 - 50Â years,University;Intergovernmental organisation;Gove...,Private research institute,unsure at this point,"pretty much everyone, currently have contracts...",Data user,Other,...,Yes,data volume: hundreds of TB (eventually). the ...,Yes,Data processing;Data storage;Service support,NaN,I prefer a costing model based on a monthly/an...,This was an interesting survey! A few question...,Yes,Yes,adam@spatialised.net
8,United Kingdom,University of Bath,Research Fellow,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,No,NaN,NaN,NaN,NaN,Yes,Yes,c.wright@bath.ac.uk
9,United States of America,ClimaCell,Chief Scientist,20 - 30 years,Start-up,NaN,"$400,000",NaN,Data user,Team leader,...,Yes,Data volume - ~100 TB\r\nI would like to use t...,Yes,Data download;Data storage,NaN,I prefer a costing model based on a monthly/an...,NaN,Yes,Yes,daniel@climacell.co
10,Austria,TU Wien,Head of Department,40 - 50Â years,University,Public research institute,NaN,NaN,Data user,Researcher,...,Yes,at least 2.000.000 GB\r\n30-50 VMs\r\n300-500 ...,Yes,Data processing;Data storage,NaN,"up to 10,000 Euros / 10,000 US Dollars",The cloud providers of choice must take the as...,Yes,Yes,wolfgang.wagner@geo.tuwien.ac.at
11,Germany,University of Marburg,PostDoc,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,Depends on the cost,Data storage;Service support,NaN,I prefer a costing model based on a monthly/an...,NaN,NaN,Yes,hanna.meyer@geo.uni-marburg.de
12,United Kingdom,University of Exeter,Scientific Software Specialist,40 - 50Â years,University,Public research institute,NaN,NaN,Data user,Data Scientist,...,No,NaN,Depends on the cost,Data processing,NaN,up to 500 Euro / 500 US Dollars,NaN,No,No,NaN
13,United Kingdom,NaN,NaN,50 - 60 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,NaN,NaN,NaN,NaN,NaN,No,No,NaN
14,Switzerland,GEO - Group on Earth Observations,Secretariat Director,> 60 years,University;Intergovernmental organisation;Gove...,Public research institute,NaN,NaN,Data user,Data Scientist,...,No,NaN,Depends on the cost,Data processing;Data storage;Service support,NaN,I prefer a costing model based on a monthly/an...,NaN,Yes,Yes,gcamara@geosec.org
15,Australia,University of Southern Queensland,Associate Professor,40 - 50Â years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,Adam.sparks@usq.edu.au
16,Australia,Australian Antarctic Division,Ecosystem Analyst,40 - 50Â years,University;Government,Public research institute,NaN,NaN,Data provider,NaN,...,No,NaN,Depends on the cost,Data processing;Data storage,NaN,I prefer a costing model based on a monthly/an...,I'd like to share that we have had tremendous ...,Yes,Yes,michael.sumner@aad.gov.au
17,Germany,"Philipps-University Marburg, Geography, Enviro...",student assistant,20 - 30 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,Yes,Data storage;Service support,NaN,I prefer a costing model based on a monthly/an...,NaN,No,Yes,marvin.ludwig93@gmail.com
18,Spain,Hyds,Project manager,30 - 40 years,Start-up,NaN,40000,NaN,Data user,Project manager,...,No,NaN,Depends on the cost,Data processing;Data download,NaN,I prefer a costing model based on a monthly/an...,,No,No,NaN
19,Germany,Philipps University Marburg,PhD Student,20 - 30 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,Depends on the cost,Data download;Service support,NaN,"up to 1,000 Euros / 1,000 US Dollars",NaN,No,Yes,alice.zglr@gmail.com
20,Italy,IFAD,GIS Consultant,30 - 40 years,Intergovernmental organisation,NaN,NaN,NaN,Other,NaN,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,l.filipov@ifad.org
21,Germany,University,Scientist / PostDoc,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,No,NaN,NaN,NaN,I do not want to process my data in the cloud....,No,No,NaN
22,Italy,EURAC Research,Researcher,30 - 40 years,Intergovernmental organisation;Established com...,NaN,NaN,NaN,Data provider,NaN,...,No,NaN,Yes,Data processing;Data download;Data upload;Data...,NaN,up to 500 Euro / 500 US Dollars,NaN,No,No,NaN
23,United States of America,"CIESIN, Columbia University",Researcher (Associate Director),40 - 50Â years,University,Private research institute,NaN,NaN,Data user,Team leader,...,No,NaN,Depends on the cost,Data processing;Data storage;Service support,NaN,up to 500 Euro / 500 US Dollars,NaN,No,Yes,gyetman@gmail.com
24,Canada,Polar View,Managing Director,NaN,Established company,NaN,NaN,NaN,Other,NaN,...,No,NaN,No,NaN,NaN,NaN,NaN,Yes,Yes,david.arthurs@polarview.org
25,United States of America,National Center for Atmospheric Research,Engineering Deputy for the Aviation Applicatio...,40 - 50Â years,University;Intergovernmental organisation;Gove...,Public research institute,NaN,NaN,Data provider,NaN,...,Yes,30GB/day +\r\nscalable instances with user load,Yes,Data processing;Data upload;Data storage,NaN,"up to 1,000 Euros / 1,000 US Dollars",NaN,No,Yes,dumont@ucar.edu
26,Australia,Federation University Australia,Director Cenre for eResearch and Digital Innov...,50 - 60 years,University,Public research institute,NaN,NaN,Data user,Team leader,...,Yes,Iâd have to confirm details with Centre tech...,Depends on the cost,Data storage;Other,"CeRDI focus on open data, open systems, open s...","up to 10,000 Euros / 10,000 US Dollars",NaN,Yes,Yes,h.thompson@federation.edu.au
27,Germany,University,Senior Scientist,50 - 60 years,University,Public research institute,NaN,NaN,Other,NaN,...,No,NaN,No,NaN,NaN,NaN,NaN,Yes,Yes,info@gis-ma.org
28,United States of America,Enterprise Products,Manager,50 - 60 years,Established company,NaN,50 billion,NaN,Data provider,NaN,...,No,NaN,Yes,Data processing,NaN,up to 100 Euro / 100 US Dollars,NaN,No,No,NaN
29,France,UNITAR,Research associate,30 - 40 years,Non-profit,NaN,NaN,NaN,Data user,Data Scientist,...,Yes,1 Tera,No,NaN,NaN,NaN,NaN,Yes,Yes,mmaelle.aubert@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Switzerland,DXT Commodities,Meteo analyst,30 - 40 years,Established company,NaN,NaN,NaN,Data user,Data Analyst,...,No,NaN,Yes,Data processing;Data download;Data upload;Data...,NaN,"up to 100,000 Euros / 100,000 US Dollars",NaN,Yes,Yes,lorenzo.ramella@dxtcommodities.com
184,Germany,EWE Trading GmbH.,Senior Meteorologist,40 - 50Â years,Established company,NaN,NaN,NaN,Data user,Data Analyst,...,No,NaN,Yes,Data processing;Data download;Data storage,NaN,"up to 10,000 Euros / 10,000 US Dollars",NaN,Yes,No,jarno.schipper@ewe.de
185,New Zealand,NIWA,climate scientist,40 - 50Â years,Government,NaN,NaN,NaN,Data user,Researcher,...,No,NaN,Yes,Data processing;Data download;Data storage,NaN,I prefer a costing model based on a monthly/an...,NaN,Yes,Yes,Nicolas.Fauchereau@niwa.co.nz
186,New Zealand,MetService NZ Ltd,NaN,40 - 50Â years,Government,NaN,NaN,NaN,Data user,Researcher,...,No,NaN,Yes,Data processing;Data download;Data storage,NaN,"up to 50,000 Euros / 50,000 US Dollars",NaN,Yes,Yes,andy.ziegler@metservice.com
187,Norway,Statkraft Energi AS,VP Hydrology,40 - 50Â years,Established company,NaN,"â¬ 1,5 billion",NaN,Data user,Team leader,...,No,NaN,Yes,Data processing;Data storage,NaN,"more than 100,000 Euros / 100,000 US Dollars",NaN,Yes,Yes,gaute.lappegard@statkraft.com
188,Canada,Environment and Climate Change Canada,GIS Specialist,40 - 50Â years,Government,NaN,NaN,NaN,Data user,Data Analyst,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,martine.benoit2@canada.ca
189,Argentina,Centro de Investigaciones del Mar y la AtmÃ³sfera,Assistant researcher,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,Depends on the cost,Data storage;Service support,NaN,"up to 1,000 Euros / 1,000 US Dollars",NaN,No,Yes,osman@cima.fcen.uba.ar
190,Netherlands,eLEAF,Senior Project Manager,40 - 50Â years,Established company,NaN,not to be shared,NaN,Data provider,NaN,...,No,NaN,Depends on the cost,Data download,NaN,I prefer a costing model based on a monthly/an...,We have our own cloud but use cloud services f...,No,Yes,remco.dost@eleaf.com
191,Germany,DLR - German Aerospace Center,PhD candidate,30 - 40 years,Government,NaN,NaN,NaN,Data user,Researcher,...,No,NaN,Yes,Data upload;Data storage,NaN,I prefer a costing model based on a monthly/an...,NaN,Yes,Yes,dimosthenis.traganos@dlr.de
192,United Kingdom,UNEP-WCMC,Postdoctoral researcher,20 - 30 years,Non-profit,NaN,NaN,NaN,Data user,Researcher,...,No,NaN,Depends on the cost,Data processing;Data storage,NaN,up to 100 Euro / 100 US Dollars,NaN,No,No,NaN
193,Netherlands,ESA,Trainee,30 - 40 years,Intergovernmental organisation,NaN,NaN,NaN,Other,NaN,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,vera@fuchsgruber.de
194,Germany,Fraunhofer Institute for Energy Economics and ...,research fellow,30 - 40 years,Other,NaN,NaN,researach institute but not university,Data user,Project manager,...,No,NaN,Depends on the cost,Data processing,NaN,up to 100 Euro / 100 US Dollars,NaN,No,Yes,thomas.kanefendt@iee.fraunhofer.de
195,Germany,Bremen University,MSc. Student,20 - 30 years,University,Public research institute,NaN,NaN,Data user,Student,...,No,NaN,No,NaN,NaN,NaN,A better inclusion of third world countries in...,No,No,NaN
196,Germany,NaN,NaN,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,No,NaN,NaN,NaN,NaN,No,No,NaN
197,Germany,Jacobs University,Professor of Computer Science,50 - 60 years,University;Established company,Public research institute,NaN,NaN,Other,NaN,...,No,NaN,No,NaN,NaN,NaN,while the writers of this study have deep know...,No,Yes,p.baumann@jacobs-university.de
198,Germany,DWD,Scientific Staff,30 - 40 years,Government,NaN,NaN,NaN,Data provider,NaN,...,Yes,- 500T permanent space (tape is sufficient)\r\...,Depends on the cost,Data processing;Data storage;Service support,NaN,I prefer a costing model based on a monthly/an...,NaN,No,Yes,stephan.finkensieper@dwd.de
199,Germany,mundialis GmbH & Co. KG,CEO,40 - 50Â years,Start-up,NaN,370000,NaN,Data user,Team leader,...,Yes,"data volume to store in GB,\r\nNumber of cloud...",Depends on the cost,Data processing;Data download;Data upload;Data...,NaN,I prefer a costing model based on a monthly/an...,Thanks for the survey!,No,Yes,neteler@mundialis.de
200,Germany,DWD,Sachgebietsleiter,40 - 50Â years,Government,NaN,NaN,NaN,Data provider,NaN,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,johannes.kaiser@dwd.de
201,Netherlands,ISRIC,researcher / GeoSpatial modeller,40 - 50Â years,University;Intergovernmental organisation,Public research institute,NaN,NaN,Data user,Researcher,...,Yes,5TB\r\n200 CPUs\r\n8GB per instance,Depends on the cost,Data processing;Data storage,NaN,"up to 1,000 Euros / 1,000 US Dollars",NaN,Yes,Yes,laura.poggio@wur.nl
202,Germany,DLR Institute for Atmospheric Physics,Research Scientist,40 - 50Â years,Other,NaN,NaN,non-University research,Other,NaN,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,patrick.joeckel@dlr.de
203,Switzerland,EPFL,Researcher,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,Yes,- data volume: 10000GB\r\n- required memory : ...,Depends on the cost,Data storage;Service support,NaN,"up to 1,000 Euros / 1,000 US Dollars",NaN,Yes,Yes,dasaraden.mauree@epfl.ch
204,Germany,"GEOMAR, Kiel, Germany",Data Scientist,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Software Developer,...,Yes,Several PB storage\r\nup to 1000 moderately si...,Depends on the cost,Data download;Data storage,NaN,I prefer a costing model based on a monthly/an...,NaN,Yes,Yes,Wrath@geomar.de
205,United Kingdom,University of Oxford,Postdoctoral researcher,30 - 40 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,Yes,* Up to 1TB for a temporary processing space\r...,No,NaN,NaN,NaN,* Monthly and daily timesteps of commonly used...,Yes,Yes,sami.rifai@ouce.ox.ac.uk
206,Norway,Norwegian Meteorological Institute,Senior Research Scientist,30 - 40 years,Government,NaN,NaN,NaN,Data provider,NaN,...,No,NaN,Depends on the cost,Data processing;Data download;Data upload,NaN,"up to 10,000 Euros / 10,000 US Dollars",The proliferation of clouds/DIAS is a problem....,Yes,Yes,thomas.lavergne@met.no
207,Germany,University Koblenz landau,Postdoctoral researcher,20 - 30 years,University,Public research institute,NaN,NaN,Data user,Researcher,...,No,NaN,Depends on the cost,Data download;Data storage;Service support,NaN,up to 100 Euro / 100 US Dollars,NaN,No,Yes,Sidhu@uni-landau.de
208,Austria,NaN,NaN,30 - 40 years,Non-profit,NaN,NaN,NaN,Data user,Data Scientist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,India,Trust for youth and child leadership,Board member,30 - 40 years,Non-profit,NaN,NaN,NaN,Data user,Researcher,...,No,NaN,Depends on the cost,Data processing;Data download;Service support,NaN,I prefer a costing model based on a monthly/an...,Make educational video and pdfs all time avail...,No,Yes,G.jugal@tycl.org.in
210,Spain,FundaciÃ³n CEAM,Researcher,40 - 50Â years,Other,NaN,NaN,Scientific non-profit publicly funded,Data user,Researcher,...,No,NaN,No,NaN,NaN,NaN,NaN,No,Yes,paco@ceam.es
211,Italy,UN/IFAD,Digital Innovation Consultant,40 - 50Â years,Intergovernmental organisation;Non-profit,NaN,NaN,NaN,Data user,Data Scientist,...,Yes,data volume to store in GB = 1000\r\n\r\nNumb...,Yes,Data processing;Data download;Data upload;Data...,NaN,"up to 10,000 Euros / 10,000 US Dollars",The truth of the matter is that GEE is leading...,Yes,Yes,erikvaningen@gmail.com
212,France,Callendar,Consultant,30 - 40 years,Start-up,NaN,twenty peanuts per day and a lot of problems,NaN,Data user,Data Analyst,...,No,NaN,Depends on the cost,Data processing;Data storage,NaN,I prefer a costing model based on a monthly/an...,NaN,NaN,Yes,thibault.laconde@callendar.climint.com

In [29]:
def valueCount(df, column, column_name):
    tmp = df.iloc[:,column]
    tmp_counts = tmp.value_counts(sort=False).to_frame()
    tmp_counts[column_name] = tmp_counts.index
    tmp_counts.columns=["count",column_name]
    return tmp_counts

#country = survey.iloc[:,0]
#df_country_counts = country.value_counts().to_frame()
#df_country_counts['COUNTRY'] = df_country_counts.index



#df_country_counts.columns = ['count','COUNTRY']

In [166]:
def valueCount(df,column,dropna,sort):
    tmp = df.iloc[:,column]
    counts = tmp.value_counts(dropna=dropna,sort=sort)
    perc = tmp.value_counts(dropna=dropna,normalize=True)
    return pd.concat([counts,perc], axis=1, keys=['counts','%'])

## Section 1 - Value count analysis

### 1.1 What is your country of residence?

In [169]:
df_country_counts = valueCount(survey,0,False,True)
df_country_counts

                          counts         %
Germany                       50  0.234742
United States of America      29  0.136150
United Kingdom                19  0.089202
Italy                         15  0.070423
Canada                        13  0.061033
Spain                         12  0.056338
Austria                       10  0.046948
Switzerland                    6  0.028169
India                          5  0.023474
France                         5  0.023474
Norway                         5  0.023474
Netherlands                    4  0.018779
Argentina                      4  0.018779
Australia                      4  0.018779
New Zealand                    3  0.014085
Greece                         3  0.014085
Finland                        2  0.009390
Latvia                         2  0.009390
Kenya                          2  0.009390
Belgium                        2  0.009390
Jamaica                        1  0.004695
China                          1  0.004695
Brazil                         1  0.004695
Slovenia                       1  0.004695
Uganda                         1  0.004695
Russian Federation             1  0.004695
Senegal                        1  0.004695
South Korea                    1  0.004695
South Africa                   1  0.004695
Denmark                        1  0.004695
Portugal                       1  0.004695
Poland                         1  0.004695
Pakistan                       1  0.004695
Belize                         1  0.004695
Bulgaria                       1  0.004695
Ireland                        1  0.004695
Ukraine                        1  0.004695
NaN                            1  0.004695

### 1.4 What is your age?

In [170]:
df_age_counts = valueCount(survey,3,False,True)
df_age_counts

                 counts         %
30 - 40 years        92  0.431925
40 - 50Â  years      54  0.253521
50 - 60 years        30  0.140845
20 - 30 years        28  0.131455
> 60 years            4  0.018779
NaN                   3  0.014085
< 20 years            2  0.009390

### 2.1 What sector do you work in?

In [171]:
df_sector_counts = valueCount(survey,4,False,True)
df_sector_counts

                                                    counts         %
University                                              79  0.370892
Government                                              36  0.169014
Established company                                     36  0.169014
Intergovernmental organisation                          15  0.070423
Non-profit                                              14  0.065728
Other                                                   10  0.046948
Start-up                                                 5  0.023474
University;Government                                    4  0.018779
University;Non-profit                                    3  0.014085
University;Established company                           2  0.009390
University;Intergovernmental organisation;Gover...       2  0.009390
Intergovernmental organisation;Non-profit                1  0.004695
Government;Non-profit                                    1  0.004695
Non-profit;Other                                         1  0.004695
University;Intergovernmental organisation;Gover...       1  0.004695
University;Intergovernmental organisation                1  0.004695
University;Start-up                                      1  0.004695
Intergovernmental organisation;Established comp...       1  0.004695

### 2.2 Data user vs. Data provider

In [172]:
df_data_user_counts = valueCount(survey,8,False,True)
df_data_user_counts

               counts         %
Data user         155  0.727700
Data provider      35  0.164319
Other              23  0.107981

In [173]:
df_data_user_groups = valueCount(survey,9, True,True)
df_data_user_groups

                    counts         %
Researcher              75  0.483871
Data Scientist          30  0.193548
Data Analyst            15  0.096774
Team leader             12  0.077419
Software Developer      11  0.070968
Project manager          6  0.038710
Student                  4  0.025806
Other                    2  0.012903

In [174]:
df_data_provider_groups = valueCount(survey,10, True,True)
df_data_provider_groups

                  counts         %
Researcher            11  0.314286
System architect       6  0.171429
Data Manager           6  0.171429
Project manager        5  0.142857
Other                  3  0.085714
Team leader            3  0.085714
Data Steward           1  0.028571

### 3. What kind of data do you currently use

In [263]:
final_table = pd.DataFrame()
col_no = [13,14,15,16,17,18,19,20]
data_ls = ['Climate reanalysis - e.g. ERA5', 'Meteorological forecast data', 'Seasonal forecast data', 
           'Environmental forecast data','EO data', 'Other Geospatial data', 'Value-added products', 'Other']
for i,j in zip(col_no,data_ls):
    series = survey.iloc[:,i]
    series_split = series.str.split(';',n=1, expand=True)

    table = valueCount(series_split,0,False,False)
    tmp = table.iloc[1:,:].transpose()
    tmp.index.values[0]=j
    
    final_table = final_table.append(tmp, ignore_index=False)

final_table

/Users/julia_wagemann/.virtualenvs/myvenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,Dataset I currently use,Dataset I would like to use in the future
Climate reanalysis - e.g. ERA5,102.000000,58.000000
%,0.478873,0.272300
Meteorological forecast data,89.000000,52.000000
%,0.417840,0.244131
Seasonal forecast data,44.000000,73.000000
%,0.206573,0.342723
Environmental forecast data,49.000000,71.000000
%,0.230047,0.333333
EO data,157.000000,36.000000
%,0.737089,0.169014
Other Geospatial data,144.000000,21.000000
%,0.676056,0.098592
Value-added products,110.000000,49.000000
%,0.516432,0.230047
Other,15.000000,3.000000
%,0.070423,0.014085

### 3.2 What hindered you to work with the data so far?

In [295]:
series = survey.iloc[:,22]
series_split = series.str.split(';',n=5, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split
table['sum'] = table.sum(axis=1)

In [296]:
table['percent'] = table.iloc[:,6:]/213 * 100
table

,0,1,2,3,4,5,sum,percent
Data formats are too cumbersome to use,5,10.0,17.0,9.0,8.0,NaN,49.0,23.004695
Data quantity and volume is too large,26,40.0,14.0,NaN,NaN,NaN,80.0,37.558685
Downloading data is uncomfortable,43,27.0,NaN,NaN,NaN,NaN,70.0,32.863850
I don't know where to find the data,11,17.0,14.0,9.0,1.0,NaN,52.0,24.413146
Other,13,5.0,3.0,1.0,NaN,1.0,23.0,10.798122
Time constraints,87,NaN,NaN,NaN,NaN,NaN,87.0,40.845070
Tools for analysis / processing of data are lacking or too complex,16,29.0,20.0,5.0,NaN,NaN,70.0,32.863850

### 3.3 What do you use the data for?

In [294]:
data_use_area = valueCount(survey,24,False,True)
data_use_area

                          counts         %
Research                     107  0.502347
Environmental monitoring      45  0.211268
Business                      31  0.145540
Other                         14  0.065728
Humanitarian application      10  0.046948
NaN                            6  0.028169

### 3.4 What data formats do you use or you want to use in your data analysis tasks?

In [298]:
series = survey.iloc[:,26]
series_split = series.str.split(';',n=10, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split
table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,9:]/213 * 100
table

,0,1,2,3,4,5,6,7,8,sum,percent
ASCII Grid,NaN,12.0,17.0,18.0,5.0,NaN,NaN,NaN,NaN,52.0,24.413146
CSV,2.0,18.0,47.0,34.0,27.0,5.0,NaN,NaN,NaN,133.0,62.441315
Cloud-optimised zarr,NaN,1.0,4.0,2.0,1.0,4.0,1.0,NaN,1.0,14.0,6.572770
GRIB,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,27.699531
GeoTIFF,28.0,63.0,36.0,20.0,NaN,NaN,NaN,NaN,NaN,147.0,69.014085
JPEG / PNG,4.0,4.0,7.0,13.0,17.0,14.0,3.0,NaN,NaN,62.0,29.107981
JPEG2000,NaN,NaN,3.0,10.0,12.0,10.0,7.0,NaN,NaN,42.0,19.718310
JSON / GeoJSON,34.0,32.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,94.0,44.131455
NetCDF,84.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141.0,66.197183
Other,1.0,2.0,2.0,7.0,6.0,2.0,4.0,1.0,NaN,25.0,11.737089
Sentinel-SAFE,NaN,2.0,1.0,5.0,6.0,6.0,6.0,3.0,NaN,29.0,13.615023

### 3.6 Time investment to work with data in a complex format?

In [301]:
time_investment = valueCount(survey,36,False,True)
time_investment

                    counts         %
Yes                    147  0.690141
Depends                 43  0.201878
No                      10  0.046948
Tried, but gave up       7  0.032864
Don't know               6  0.028169

## 4. Data handling

In [305]:
series = survey.iloc[:,44]
series_split = series.str.split(';',n=9, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split
table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,9:]/213 * 100
table

                0     1     2     3    4    5    6    7    8    sum    percent
C            18.0   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN   18.0   8.450704
C++          19.0   7.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN   26.0  12.206573
Fortran      23.0   7.0   4.0   NaN  NaN  NaN  NaN  NaN  NaN   34.0  15.962441
Java          3.0  13.0   6.0   4.0  3.0  2.0  NaN  NaN  NaN   31.0  14.553991
Javascript    2.0  21.0  19.0   8.0  4.0  2.0  1.0  NaN  NaN   57.0  26.760563
Julia         NaN   NaN   2.0   2.0  NaN  NaN  NaN  NaN  NaN    4.0   1.877934
None          8.0   1.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN    9.0   4.225352
Other         5.0   8.0   9.0   6.0  3.0  NaN  NaN  NaN  NaN   31.0  14.553991
PHP           NaN   2.0   2.0   4.0  2.0  1.0  2.0  1.0  NaN   14.0   6.572770
Python      108.0  41.0  11.0   4.0  NaN  NaN  NaN  NaN  NaN  164.0  76.995305
R            22.0  46.0  17.0   4.0  3.0  NaN  NaN  NaN  NaN   92.0  43.192488
Scala         NaN   2.0   1.0   NaN  NaN  NaN  NaN  NaN  NaN    3.0   1.408451
gdal          4.0  11.0  29.0  19.0  7.0  3.0  1.0  2.0  1.0   77.0  36.150235

### 4.2 Do you use desktop-based software?

In [306]:
desktop_software = valueCount(survey,46,False,True)
desktop_software

     counts         %
Yes     134  0.629108
No       76  0.356808
NaN       3  0.014085

### 4.2.1 Type of desktop-based software

In [317]:
series = survey.iloc[:,47]
series_split = series.str.split(';',n=9, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split
table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,7:]/213 * 100
table

            0     1     2     3    4    5    6   sum    percent
ArcGIS     14  37.0  16.0   NaN  NaN  NaN  NaN  67.0  31.455399
ENVI        1   6.0  12.0   7.0  NaN  NaN  NaN  26.0  12.206573
Excel       4   7.0  21.0  10.0  4.0  6.0  1.0  53.0  24.882629
GRASS GIS   2  35.0   NaN   NaN  NaN  NaN  NaN  37.0  17.370892
IDL         2   2.0   3.0   5.0  3.0  NaN  NaN  15.0   7.042254
Matlab     11   9.0   5.0   3.0  4.0  1.0  NaN  33.0  15.492958
Other       6   5.0  10.0   5.0  5.0  1.0  2.0  34.0  15.962441
QGIS       94   NaN   NaN   NaN  NaN  NaN  NaN  94.0  44.131455

### 4.3 How do you currently or how would you like in the future to access large volumes of Big Earth Data

In [318]:
final_table = pd.DataFrame()
col_no = [49,50,51,52,53,54,55,56]
data_ls = ['Download service',
           'Cloud computing infrastructure',
           'OGC web service',
           'Custom API or an OpenDAP service',
           'Virtual Research Environment',
           'Data cube technology',
           'Spatial or Array database',
           'Other']
for i,j in zip(col_no,data_ls):
    series = survey.iloc[:,i]
    series_split = series.str.split(';',n=1, expand=True)

    table = valueCount(series_split,0,False,False)
    tmp = table.iloc[1:,:].transpose()
    tmp.index.values[0]=j
    
    final_table = final_table.append(tmp, ignore_index=False)

final_table

/Users/julia_wagemann/.virtualenvs/myvenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """
/Users/julia_wagemann/.virtualenvs/myvenv/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,I am not interested in this kind of service,I currently use this kind of service,I would like to use or continue to use this kind of service in the future
Download service,9.000000,151.000000,46.000000
%,0.042254,0.708920,0.215962
Cloud computing infrastructure,18.000000,81.000000,106.000000
%,0.084507,0.380282,0.497653
OGC web service,42.000000,73.000000,73.000000
%,0.197183,0.342723,0.342723
Custom API or an OpenDAP service,47.000000,57.000000,65.000000
%,0.220657,0.267606,0.305164
Virtual Research Environment,90.000000,10.000000,58.000000
%,0.422535,0.046948,0.272300
Data cube technology,60.000000,15.000000,92.000000
%,0.281690,0.070423,0.431925
Spatial or Array database,59.000000,33.000000,78.000000
%,0.276995,0.154930,0.366197
Other,19.000000,9.000000,NaN
%,0.089202,0.042254,NaN

### 4.5 How do you process and analyse data?

In [321]:
final_table = pd.DataFrame()
col_no = [66,67,68,69,70]
data_ls = ['code-editor in the cloud',
          'code-based processing routines accessing cloud services',
          'code-based processing routines on a local machine',
          'geospatial software on a local machine',
          'Other']
for i,j in zip(col_no,data_ls):
    series = survey.iloc[:,i]
    series_split = series.str.split(';',n=1, expand=True)

    table = valueCount(series_split,0,False,False)
    tmp = table.iloc[1:,:].transpose()
    tmp.index.values[0]=j
    
    final_table = final_table.append(tmp, ignore_index=False)

final_table

/Users/julia_wagemann/.virtualenvs/myvenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,Sometimes,Always,Never
code-editor in the cloud,78.000000,16.000000,100.000000
%,0.366197,0.075117,0.469484
code-based processing routines accessing cloud services,69.000000,20.000000,106.000000
%,0.323944,0.093897,0.497653
code-based processing routines on a local machine,68.000000,116.000000,15.000000
%,0.319249,0.544601,0.070423
geospatial software on a local machine,102.000000,52.000000,41.000000
%,0.478873,0.244131,0.192488
Other,7.000000,13.000000,27.000000
%,0.032864,0.061033,0.126761

## 5. Data challenges

### 5.1 What are currently the biggest obstacles accessing and working with Big Earth Data?

In [326]:
final_table = pd.DataFrame()
col_no = [80,81,82,83,84,85,86,87,88,89,90,91,92]
data_ls = ['Growing data volume',
           'Limited processing capacity',
           'Complex data formats',
           'Data are disseminated in a non-standardised way',
           'Data discovery (finding data sets)',
           'Data access systems',
           'Data complexity',
           'Combining different kind of geospatial data and shapefiles',
           'Too many data platforms and portals',
           'Data services are too restricted to access large volumes of data',
           'Lacking easy-to-use tools for access, preprocessing, visualisation and evaluation',
           'Cost of data services (cost for non-open data or cost for processing services)',
          'Other']


final_table = survey.iloc[:,80:92]

final_table

,5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Growing data volume,5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Limited processing capacity,5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Complex data formats,5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Data are disseminated in a non-standardised way,5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Data discovery (finding data sets),5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Data access systems,5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Data complexity,"5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Combining different kind of geospatial data, e.g. EO data with meteorological data and shapefiles",5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Too many data platforms and portals,5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Data services are too restricted to access large volumes of data,"5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Lacking easy-to-use tools for access, preprocessing, visualisation and evaluation",5.1 What are currently the biggest obstacles accessing and working with Big Earth Data? From 1 (no obstacle at all) to 5 (a great obstacle): Cost of data services (cost for non-open data or cost for processing services)
0,5.0,3.0,4.0,4.0,3.0,3.0,1.0,2.0,4.0,2.0,2.0,1.0
1,4.0,4.0,5.0,5.0,4.0,5.0,3.0,2.0,4.0,5.0,4.0,2.0
2,5.0,5.0,4.0,5.0,4.0,5.0,4.0,5.0,4.0,5.0,5.0,2.0
3,4.0,3.0,3.0,5.0,3.0,3.0,4.0,2.0,2.0,5.0,3.0,4.0
4,4.0,5.0,4.0,3.0,2.0,2.0,2.0,4.0,3.0,3.0,3.0,3.0
5,5.0,5.0,3.0,3.0,3.0,3.0,2.0,1.0,5.0,4.0,4.0,5.0
6,5.0,4.0,4.0,5.0,4.0,4.0,3.0,4.0,4.0,5.0,2.0,2.0
7,3.0,3.0,5.0,5.0,5.0,3.0,2.0,2.0,5.0,3.0,3.0,5.0
8,5.0,5.0,4.0,3.0,5.0,3.0,1.0,1.0,5.0,5.0,1.0,1.0
9,5.0,2.0,2.0,4.0,3.0,5.0,2.0,3.0,1.0,5.0,2.0,2.0
10,5.0,5.0,3.0,4.0,1.0,3.0,3.0,3.0,3.0,5.0,4.0,5.0
11,3.0,3.0,4.0,4.0,1.0,3.0,2.0,1.0,2.0,3.0,3.0,2.0
12,4.0,4.0,3.0,2.0,4.0,2.0,2.0,2.0,4.0,2.0,4.0,1.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5.0,2.0,4.0,4.0,3.0,5.0,4.0,2.0,4.0,5.0,4.0,5.0
15,4.0,3.0,4.0,5.0,5.0,5.0,3.0,3.0,5.0,5.0,3.0,5.0
16,3.0,4.0,5.0,5.0,4.0,5.0,4.0,3.0,4.0,4.0,5.0,3.0
17,2.0,5.0,1.0,2.0,3.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0
18,3.0,2.0,5.0,2.0,3.0,2.0,2.0,1.0,5.0,2.0,3.0,3.0
19,3.0,4.0,NaN,NaN,4.0,NaN,NaN,2.0,4.0,3.0,4.0,5.0
20,5.0,5.0,2.0,1.0,5.0,5.0,3.0,1.0,5.0,NaN,5.0,1.0
21,3.0,3.0,4.0,5.0,5.0,5.0,5.0,4.0,5.0,4.0,3.0,2.0
22,3.0,4.0,2.0,2.0,2.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0
23,4.0,5.0,3.0,4.0,5.0,3.0,4.0,5.0,4.0,5.0,4.0,2.0
24,3.0,3.0,4.0,4.0,5.0,2.0,4.0,4.0,NaN,4.0,3.0,1.0
25,2.0,1.0,3.0,4.0,5.0,4.0,5.0,3.0,3.0,4.0,3.0,2.0
26,3.0,3.0,4.0,4.0,3.0,4.0,3.0,3.0,3.0,3.0,2.0,3.0
27,3.0,4.0,5.0,5.0,4.0,3.0,2.0,3.0,5.0,4.0,2.0,4.0
28,5.0,NaN,5.0,5.0,3.0,3.0,3.0,5.0,NaN,5.0,5.0,5.0
29,5.0,4.0,3.0,3.0,3.0,3.0,3.0,2.0,1.0,1.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
183,3.0,3.0,4.0,3.0,3.0,3.0,3.0,4.0,5.0,3.0,4.0,NaN
184,3.0,4.0,4.0,4.0,5.0,4.0,3.0,5.0,5.0,5.0,3.0,3.0
185,5.0,5.0,3.0,3.0,5.0,3.0,2.0,4.0,5.0,4.0,3.0,3.0
186,5.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,3.0,4.0,2.0,4.0
187,5.0,3.0,3.0,4.0,4.0,5.0,3.0,3.0,3.0,5.0,3.0,3.0
188,3.0,3.0,4.0,5.0,5.0,5.0,3.0,4.0,5.0,4.0,3.0,5.0
189,5.0,5.0,1.0,1.0,1.0,5.0,2.0,3.0,5.0,5.0,3.0,5.0
190,5.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,3.0,3.0,4.0,5.0
191,4.0,3.0,2.0,4.0,2.0,2.0,2.0,4.0,3.0,2.0,2.0,2.0
192,2.0,4.0,4.0,4.0,2.0,2.0,2.0,3.0,1.0,1.0,4.0,3.0
193,4.0,3.0,3.0,3.0,5.0,5.0,4.0,4.0,3.0,3.0,4.0,3.0
194,3.0,3.0,4.0,4.0,2.0,3.0,4.0,4.0,3.0,2.0,4.0,3.0
195,3.0,5.0,5.0,4.0,5.0,2.0,3.0,4.0,5.0,3.0,2.0,5.0
196,4.0,4.0,3.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,3.0,2.0
197,2.0,2.0,3.0,5.0,4.0,3.0,2.0,1.0,1.0,3.0,1.0,2.0
198,5.0,2.0,4.0,1.0,1.0,1.0,1.0,1.0,3.0,4.0,3.0,1.0
199,4.0,4.0,3.0,3.0,4.0,3.0,2.0,2.0,3.0,3.0,2.0,4.0
200,4.0,3.0,3.0,2.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0
201,3.0,5.0,1.0,2.0,3.0,3.0,1.0,1.0,2.0,2.0,2.0,2.0
202,5.0,5.0,5.0,5.0,5.0,3.0,3.0,4.0,4.0,4.0,3.0,3.0
203,5.0,5.0,3.0,4.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0
204,4.0,5.0,5.0,5.0,3.0,4.0,3.0,3.0,3.0,5.0,3.0,1.0
205,5.0,5.0,4.0,3.0,3.0,4.0,4.0,3.0,4.0,5.0,4.0,2.0
206,4.0,4.0,5.0,5.0,2.0,4.0,3.0,4.0,5.0,4.0,4.0,3.0
207,5.0,5.0,5.0,5.0,3.0,4.0,3.0,5.0,3.0,4.0,4.0,5.0
208,3.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0,5.0,5.0,1.0,3.0
209,3.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,3.0
210,5.0,5.0,5.0,4.0,5.0,5.0,3.0,5.0,5.0,3.0,5.0,3.0
211,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,3.0,1.0
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 6. Future data services

### 6.2 Concerning the legal policy of the cloud service, what would you prefer?

In [331]:
series = survey.iloc[:,96]
series_split = series.str.split(';',n=9, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split
table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,0]/213 * 100
table

                                                     0  sum    percent
a publicly funded general cloud, e.g. the Europ...  66   66  30.985915
I do not mind                                       55   55  25.821596
a publicly funded specialised cloud, where data...  47   47  22.065728
a commercial cloud vendor, such as Amazon Web S...  26   26  12.206573
None of the above                                   13   13   6.103286

### 6.3 What do you want to use the cloud for?

In [333]:
series = survey.iloc[:,97]
series_split = series.str.split(';',n=9, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split
table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,4]/213 * 100
table

                       0      1      2    3    sum    percent
Data access           30  135.0    NaN  NaN  165.0  77.464789
Data processing       19   37.0  112.0  NaN  168.0  78.873239
Data storage         153    NaN    NaN  NaN  153.0  71.830986
No application need    7    NaN    1.0  NaN    8.0   3.755869
Other                  1    NaN    NaN  5.0    6.0   2.816901

### 6.4 When working with cloud services, which of the following statements would be true for you?

In [336]:
series = survey.iloc[:,100]
series_split = series.str.split(';',n=9, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split

table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,5]/213 * 100
table

,0,1,2,3,4,sum,percent
"I would like to work in the cloud in a collaborative way, by (i) using shared libraries and open data and (ii) contributing with sharing data, workflows and/or libraries",54,63.0,33.0,NaN,NaN,150.0,70.422535
I would like to work privately on a cloud and the security of my processing tasks and / or data (processed and uploaded) is very important,66,54.0,NaN,NaN,NaN,120.0,56.338028
I would need the option to upload own datasets and combine them with available datasets on the cloud,6,63.0,70.0,26.0,NaN,165.0,77.464789
I would need to be able to transfer intermediary or final results out of the cloud and store them on my local machine,3,14.0,50.0,68.0,21.0,156.0,73.239437
"the geographic location of the cloud (e.g. Europe, US) is very important for me",79,NaN,NaN,NaN,NaN,79.0,37.089202

### 6.5 How strong do you consider the following security aspects as a risk of cloud services?

In [337]:
final_table = pd.DataFrame()
col_no = [101,102,103,104,105,106]
data_ls = ['Data integrity',
          'Data breaches',
          'Service unavailability',
          'Security of private / restricted data',
          'Other']
for i,j in zip(col_no,data_ls):
    series = survey.iloc[:,i]
    series_split = series.str.split(';',n=1, expand=True)

    table = valueCount(series_split,0,False,False)
    tmp = table.iloc[1:,:].transpose()
    tmp.index.values[0]=j
    
    final_table = bfinal_table.append(tmp, ignore_index=False)

final_table

/Users/julia_wagemann/.virtualenvs/myvenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,Major risk,No risk at all,"Might be a risk, but not important for me",Risk
Data integrity,60.000000,27.000000,35.000000,85.000000
%,0.281690,0.126761,0.164319,0.399061
Data breaches,66.000000,27.000000,38.000000,77.000000
%,0.309859,0.126761,0.178404,0.361502
Service unavailability,90.000000,33.000000,12.000000,73.000000
%,0.422535,0.154930,0.056338,0.342723
Security of private / restricted data,76.000000,13.000000,21.000000,100.000000
%,0.356808,0.061033,0.098592,0.469484
Other,81.000000,19.000000,32.000000,76.000000
%,0.380282,0.089202,0.150235,0.356808

### 6.7 Would you be able to estimate the technical requirements you would need for your data storage and/or processing tasks in the cloud?

In [355]:
series = survey.iloc[:,109]
series_split = series.str.split(';',n=9, expand=True)
#print(series)

table = series_split.apply(pd.Series.value_counts)
table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,0]/213 * 100
table

       0  sum    percent
No   157  157  73.708920
Yes   51   51  23.943662

### 6.8 Whould you be willing to pay for processing services in the cloud, if you get directly the output you are interested in?

In [356]:
series = survey.iloc[:,111]
series_split = series.str.split(';',n=9, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split

table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,0]/213 * 100
table

                       0  sum    percent
Depends on the cost  103  103  48.356808
No                    59   59  27.699531
Yes                   46   46  21.596244

### 6.8.1 What would you be willing to pay for?

In [357]:
series = survey.iloc[:,112]
series_split = series.str.split(';',n=9, expand=True)


table = series_split.apply(pd.Series.value_counts)
series_split
table['sum'] = table.sum(axis=1)
table['percent'] = table.iloc[:,6]/213 * 100
table

                     0     1     2     3     4    5    sum    percent
Data download     10.0  35.0   NaN   NaN   NaN  NaN   45.0  21.126761
Data processing  119.0   NaN   NaN   NaN   NaN  NaN  119.0  55.868545
Data storage      14.0  56.0  12.0  21.0   NaN  NaN  103.0  48.356808
Data upload        1.0   3.0  23.0   NaN   NaN  NaN   27.0  12.676056
Other              NaN   1.0   NaN   1.0   NaN  1.0    3.0   1.408451
Service support    5.0  16.0  21.0   2.0  16.0  NaN   60.0  28.169014

### 6.8.2 How much would you be willings to pay?

In [358]:
data_use_area = valueCount(survey,114,False,True)
data_use_area

                                                    counts         %
I prefer a costing model based on a monthly/ann...      74  0.347418
NaN                                                     64  0.300469
up to 100 Euro / 100 US Dollars                         22  0.103286
up to 1,000 Euros / 1,000 US Dollars                    19  0.089202
up to 500 Euro / 500 US Dollars                         15  0.070423
up to 10,000 Euros / 10,000 US Dollars                  14  0.065728
up to 100,000 Euros / 100,000 US Dollars                 2  0.009390
up to 50,000 Euros / 50,000 US Dollars                   2  0.009390
more than 100,000 Euros / 100,000 US Dollars             1  0.004695

## 7. Final comment

### 7.2 Would you be available as an expert for a follow-up expert interview?

In [360]:
data_use_area = valueCount(survey,116,False,True)
data_use_area

     counts         %
No      125  0.586854
Yes      80  0.375587
NaN       8  0.037559

### 7.3 Would you like to be informed about the outcomes of this survey?

In [361]:
data_use_area = valueCount(survey,117,False,True)
data_use_area

     counts         %
Yes     154  0.723005
No       54  0.253521
NaN       5  0.023474

In [268]:
shapefile = os.path.expanduser('~/Documents/Notebooks/survey_analysis/shapefiles/ne_10m_admin_0_countries.shp')
gdf = gpd.read_file(shapefile)[['ADM0_A3', 'geometry','SOVEREIGNT']].to_crs('+proj=robin')
gdf_dissolved = gdf.dissolve(by='SOVEREIGNT')
#merged = gdf.merge(test2, on='SOVEREIGNT')
type(gdf_dissolved)

geopandas.geodataframe.GeoDataFrame

In [269]:
df_merged = pd.merge(gdf_dissolved,df_country_counts, on="SOVEREIGNT", how="outer")

In [270]:
df_merged['percent'] = df_merged['count']*100

In [275]:
df_merged

TypeError: isna() takes 1 positional argument but 2 were given

In [280]:
data = [ dict(
        type = 'choropleth',
        locations = df_merged['ADM0_A3'],
        z = df_merged['count'],
        text = df_merged['SOVEREIGNT'],
#        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
#            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '',
            title = 'Country of residence'),
      ) ]

layout = dict(
    title = 'Country of residence',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='country_of_residence' )